@using App.Models
@model ResponseModel<CategoryModel>

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    @if (!Model.Succeeded)
    {
        <p>er is iets mis gegaan: @Model.Message</p>
    }
    else {
        <h2>@Model.Data[0].Title</h2>
        <a asp-controller="Category" asp-action="Edit" asp-route-Id="Model.categoryresponseModel.Data[0].ID">Bewerken</a>
        <a asp-controller="Category" asp-action="Delete" asp-route-Id="Model.categoryresponseModel.Data[0].ID">Verwijderen</a>
        <hr/>

        <div class="note-container">
            @foreach (NoteModel note in Model.Data[0].NoteList)
            {
                @Html.Partial("_Note", note)
            }
        </div>
    }
</div>
<div>
    <a asp-controller="Home" asp-action="Index">Terug naar overzicht</a>
</div>
