@model CategoryModel

<div>
    @if (!ViewBag.Succeeded)
    {
        <p>Er is iets mis gegaan.</p>
    }
    else {
        <h1>@Model.Title</h1>
        <a asp-controller="Category" asp-action="Edit" asp-route-Id="Model.ID">Bewerken</a>
        <a asp-controller="Category" asp-action="Delete" asp-route-Id="Model.ID">Verwijderen</a>
        <hr/>

        <div class="note-container">
            @if (Model.NoteList.Count() == 0)
            {
                <p>Deze categorie heeft geen notities</p>
            }
            else
            {
                @foreach (NoteModel note in Model.NoteList)
                {
                    @Html.Partial("_Note", note)
                }
            }
        </div>
    }
</div>
<div>
    <a asp-controller="Home" asp-action="Index">Terug naar overzicht</a>
</div>
