@using App.Models
@model ResponseModel<CategoryModel>

<div>
    @if (!Model.Succeeded)
    {
        <p>Er is iets mis gegaan: @Model.Message</p>
    }
    else {
        <h1>@Model.Data[0].Title</h1>
        <a asp-controller="Category" asp-action="Edit" asp-route-Id="Model.categoryresponseModel.Data[0].ID">Bewerken</a>
        <a asp-controller="Category" asp-action="Delete" asp-route-Id="Model.categoryresponseModel.Data[0].ID">Verwijderen</a>
        <hr/>

        <div class="note-container">
            @if (Model.Data[0].NoteList.Count() == 0)
            {
                <p>Deze categorie heeft geen notities</p>
            }
            else
            {
                @foreach (NoteModel note in Model.Data[0].NoteList)
                {
                    @Html.Partial("_Note", note)
                }
            }
        </div>
    }
</div>
<div>
    <a asp-controller="Home" asp-action="Index">Terug naar overzicht</a>
</div>
