html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

h3 {
    color: red;
    font-size: 18px;
}

h2 a {
    color: inherit;
    text-decoration: none;
}

h2 a:hover {
    color: purple;
    text-decoration: underline;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: underline;
}

.note-container {
    display: flex;  
    flex-wrap: wrap;
    align-content: center;
}

.note {

    margin: 5px;
    padding: 10px;
    width: 200px;
    height: 200px;
}

.note h1 {
    font-size: 22px;
}

.note p {
    word-wrap:anywhere;
}